* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #bfbfbf;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #bfbfbf;
    border-radius: 6px;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
}
@media (min-width: 751px) {
    html {
        font-size: 82px;
    }
    html main {
        padding: 0;
        min-height: 100%;
        align-items: center;
    }
    html .container {
        padding: 0 0.3rem;
    }
    html .dialog {
        width: 7.31rem;
    }
    html .list {
        max-height: 4.9rem;
        overflow: auto;
        margin-right: -0.2rem;
        padding-right: 0.2rem;
    }
}
/**mobile**/
@media (max-width: 750px) {
    html {
        font-size: calc(100vw / (750 / 100));
    }
}
main {
    display: flex;
    width: 100%;
    min-height: 100%;
    background: #00000080;
    padding-bottom: 2.5rem;
}
.container {
    padding: 1.05rem 0.3rem 0;
    margin: 0 auto;
    overflow: auto;
}
.dialog {
    padding: 0.2rem 0.3rem 0.3rem;
    background: #fff;
    border-radius: 0.2rem;
}
.title {
    color: #333;
    text-align: center;
    font-size: 0.3rem;
    font-weight: 400;
    margin: 0.2rem 0.3rem;
}
.tips {
    color: #333;
    font-size: 0.22rem;
    font-weight: 400;
    line-height: 0.32rem;
}
.tips .tips-text {
    text-indent: 2em;
}
.tips .refresh {
    display: inline-flex;
}
.tips .refresh span {
    color: #1678ff;
}
.tips .refresh svg {
    width: 0.3rem;
    height: 0.3rem;
}
.desc {
    color: #999;
    font-size: 0.24rem;
    font-weight: 400;
    line-height: 0.36rem;
    margin: 0.2rem 0;
}
.list-item .row-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.list-item .row-title svg {
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 0.04rem;
}
.list-item .row-title span {
    color: #333;
    font-size: 0.22rem;
    font-weight: 400;
    line-height: 0.32rem;
}
.list-item .row-info {
    margin-top: 0.2rem;
    font-size: 0;
}
.list-item .row-info .row-info-main {
    color: #333;
    font-size: 0.22rem;
    font-weight: 600;
    line-height: 0.32rem;
}
.list-item .row-info .row-info-secondary {
    color: #666;
    font-size: 0.22rem;
    font-weight: 400;
    line-height: 0.32rem;
}

.devide-line {
    height: 1px;
    background: #e3e3e3;
    width: 100%;
    margin: 0.2rem 0;
}
.button {
    display: flex;
    height: 0.7rem;
    padding: 0.02rem 0.1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.14rem;
    background: #1678ff;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 0.24rem;
    font-weight: 400;
    width: 100%;
    margin-top: 0.4rem;
}